/* purgecss start ignore */
.nav-primary {
  @apply flex flex-col;
  & li:last-child {
    @apply mb-4;
  }
  li {
    @apply py-4 relative;
    &:hover {
      .sub-menu {
        @apply block;
      }
    }
  }
  .current-menu-item {
    a {
      @apply text-s-yellow;
    }
    .sub-menu {
      a {
        @apply text-s-stone;
        &:hover {
          @apply text-s-yellow;
        }
      }
    }
  }
  a {
    @apply uppercase font-roboto font-medium text-s-stone px-6 py-4 text-base tracking-widest;
    &:hover {
      @apply text-s-yellow;
    }
  }
  .sub-menu{
    @apply mt-4;
    li {
      @apply py-2;
      a {
        @apply capitalize text-sm py-2;
      }
    }
  }
  .product-catalog {
    a {
      @apply bg-s-dark inline-block text-white;
      &:hover {
        @apply opacity-75 text-white;
      }
    }
  }
}

.search-form {
  @apply flex items-center justify-center;
  label {
    @apply mb-0;
  }
  .search-input {
    &::placeholder {
      @apply text-s-stone opacity-75;
    }
  }
}

@screen md {
  .nav-primary {
    @apply flex flex-row items-center;
    > * + * {
      @apply ml-4;
    }
    & li:last-child {
      @apply pr-0 pb-4 mb-0;
    }
    li {
      @apply relative;
    }
    a {
      @apply px-4 text-sm;
    }
    .sub-menu {
      @apply hidden absolute w-64 bg-gray-100 text-left px-0 border-l-4 border-s-dark shadow rounded-sm;
    }
    .product-catalog {
      @apply relative;
      a {
        @apply mb-0 py-3 relative;
      }
      &:before {
        @apply text-white;
        position: absolute;
        content: "";
        background: url('../images/download.svg');
        height: 20px;
        width: 20px;
        top: 18px;
        left: 10px;
        z-index:50;
        pointer-events: none;
        display: block;
      }
    }
  }
}

@screen lg {
  .nav-primary {
    a {
      @apply text-base px-6;
    }
  }
}
/* purgecss end ignore */